	*{
		box-sizing: border-box;
	}
	div{
		background-color: white;
	}
	p{
		width:20%;
		border:3px solid black;
		float: left;
		margin: 40px;
		padding: 10px;
		box-sizing: content-box; 

	}

	#p1 {
		background-color: grey;
		

	}
	#p2 {
		background-color: grey;
		
		

	}
	#p3 {
		background-color: grey



	}


	section {
		clear: left;

	}